aiohttp
aiosignal
asgiref
async-timeout
attrs
certifi
charset-normalizer
colorama
Django
flake8
frozenlist
idna
mccabe
multidict
openai
Pillow
psycopg2-binary
pycodestyle
pyflakes
requests
sqlparse
tqdm
tzdata
urllib3
yarl
dj-database-url
gunicorn
whitenoise
mysql-connector